* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

/* Global */

body {
    background-color: black;
    color: #fff;
}

section {
    min-height: 100vh;
    padding: 1.5rem;
}

.btn {
    background: none;
    color: rgb(23, 219, 23);
    border: 2px solid rgb(23, 219, 23);
    border-radius: 0.5rem;
    padding: 0.7rem 1.7rem;
    text-transform: uppercase;
    font-weight: bold;
    transition: .4s;
    cursor: pointer;    
}

.btn:hover {
    background-color: rgb(23, 219, 23);
    color: black;
    box-shadow: 0px 0px 10px rgb(23, 219, 23);
    scale: 1.05;
}

h3.title {
    font-size: 35px;
    text-transform: uppercase;
    text-align: center;
}

h3.title span {
    color: rgb(23, 219, 23);
}

/* Home */

#home {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 5rem;
}

#home a {
    text-decoration: none;
    color: currentColor;
}

.home-header {
    text-transform: uppercase;
}

.home-header h2 {
    font-size: 70px;
    line-height: 60px;
}

.frontend {
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem;
}

.home-header p {
    margin-bottom: 5px;
    margin-left: 3px;
    color: rgb(23, 219, 23);
}

.icons {
    display: flex;
    font-size: 30px;
    gap: .6rem;
}

.icons i {
    color: #fff;
    transition: .3s;
}

.icons i:hover {
    color: rgb(23, 219, 23);
    text-shadow: 0px 0px 10px rgba(23, 219, 23, 0.56); 
    scale: 1.2;   
}

/* Sobre mim */

#about {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.about-me {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.about-me img {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
    background-color: rgb(23, 219, 23);
    box-shadow: 0px 0px 15px rgb(23, 219, 23);
    animation: float 2s infinite ease-in-out alternate;
}

@keyframes float {
    from {
        transform: translateY(-10%);
    } to {
        transform: translateY(5%);
    }
}

.informations {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.informations h3 {
    color: rgb(23, 219, 23);
}

.informations ul {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    list-style: none;
}

.informations ul li > i {
    margin-right: .3rem;
    color: rgb(23, 219, 23);
    text-shadow: 0px 0px 7px rgb(23, 219, 23);
}

.timeline {
    display: flex;
    justify-content: space-evenly;
    margin-top: 3rem;
}

.event {
    position: relative;
    max-width: 25%;
    padding: 40px 20px 0px;
}

.event h3 {
    margin-bottom: 15px;
}

.point {
    position: absolute;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 5px solid rgb(23, 219, 23);
    background-color: #000;
    z-index: 5;
    top: -10px;
    left: 20px;
}

.timeline::after {
    position: absolute;
    content: '';
    height: 6px;
    width: 100%;
    background-color: rgb(23, 219, 23);
}