* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
    scroll-behavior: smooth;
}

/* Global */

body {
    background-color: rgb(26, 26, 26);
    color: #fff;
}

section {
    min-height: 100vh;
    padding: 3rem 5%;
}

.btn {
    background: none;
    color: rgb(23, 219, 23);
    border: 2px solid rgb(23, 219, 23);
    border-radius: 0.5rem;
    padding: 0.7rem 1.7rem;
    text-transform: uppercase;
    font-weight: bold;
    transition: .4s;
    cursor: pointer;    
}

.btn:hover {
    background-color: rgb(23, 219, 23);
    color: black;
    box-shadow: 0px 0px 10px rgb(23, 219, 23, 0.5);
    scale: 1.05;
}

h3.title {
    font-size: 38px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 3.5rem;
}

h3.title span {
    color: rgb(23, 219, 23);
}

a {
    text-decoration: none;
    color: unset;
}

.hidden {
    display: none;
}

#home, .about-anchor, .about-image, .informations, .timeline, .card, .skill-box, .skills-description {
    visibility: hidden;
}

/* Início */

#home {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 5rem;
}

.home-header {
    text-transform: uppercase;
}

.home-header h2 {
    font-size: 90px;
    line-height: 75px;
}

.frontend {
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem;
}

.home-header p {
    color: rgb(23, 219, 23);
    font-size: 20px;
    opacity: .7;
    font-weight: 600;
}

.icons {
    display: flex;
    font-size: 35px;
    gap: .8rem;
}

.icons a {
    color: #fff;
    transition: .3s;
}

.icons a:hover { 
    scale: 1.2;   
}

/* Sobre mim */

#about {
    overflow-x: hidden;
}

.about-me {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5rem 0;
}

.about-me img {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
    background-color: rgb(23, 219, 23);
    box-shadow: 0px 0px 15px rgb(23, 219, 23);
    animation: float 2s infinite ease-in-out alternate;
}

@keyframes float {
    from {
        transform: translateY(-15%);
    } to {
        transform: translateY(0);
    }
}

.informations {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.informations h3 {
    color: rgb(23, 219, 23);
}

.informations ul {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    list-style: none;
}

.informations ul li > i {
    margin-right: 1rem;
    color: rgb(23, 219, 23);
    text-shadow: 0px 0px 10px rgba(23, 219, 23, 0.5);
}

.timeline {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    position: relative;
}

.event {
    position: relative;
    width: 20%;
    padding: 40px 30px 0 0;
}

.event h3 {
    margin-bottom: 15px;
}

.text-box {
    font-size: 15px;
    opacity: .7;
}

.point {
    position: absolute;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 5px solid rgb(23, 219, 23);
    background-color: rgb(26, 26, 26);
    z-index: 5;
    top: 0;
    left: 0px;
}

.timeline::after {
    position: absolute;
    top: 10px;
    left: 0;
    content: '';
    height: 5px;
    width: 100%;
    background-color: rgb(23, 219, 23);
    animation: timeline 3s ease-in-out forwards;
}

@keyframes timeline {
    from {
        width: 0;
    } to {
        width: 100%;
    }
}

/* Portfólio */

.projects-container {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: space-evenly;
}

.projects_card {
    display: flex;
    flex-direction: column;
    width: 350px;
    min-height: 450px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.15);  
    overflow: hidden;  
}

.projects_card-image {
    height: 39%;
    width: 100%;
    object-fit: cover;
    object-position: center top;
}

.projects_card-info {
    padding: 1rem 2rem;
}

.projects_card-info h3 {
    font-weight: 500;
    margin-bottom: 1rem;
}

.projects_card-info p {
    text-align: justify;
    margin-top: .5rem;
    font-size: 14px;
}

.made-with i {
    color: rgb(23, 219, 23);
    margin-left: .5rem;
}

.anchors {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex: 1;
    align-items: flex-end;
    padding: 1rem 2rem;
}

.projects_card-link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(26, 26, 26);
    font-weight: 700;
    background-color: rgb(23, 219, 23);
    padding: .5rem 1rem;
    border-radius: 20px;
    cursor: pointer;
    transition: .3s;
}

.projects_card-link:hover {
    box-shadow: 0px 0px 10px rgb(23, 219, 23);
}

/* Skills */

.skills-container {
    display: flex;
    justify-content: space-between;
}

.skill-icons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.skill-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    margin-bottom: 1.5rem;
    color: rgb(23, 219, 23);
    font-size: 40px;
    border: 2px solid rgb(23, 219, 23);
    border-radius: 10px;
    transition: .3s ease-in-out;
    cursor: pointer;
}

.skill-box i {
    pointer-events: none;
}

.skill-box:hover {
    background-color: rgb(23, 219, 23);
    color: #000;
    box-shadow: 0px 0px 10px rgb(23, 219, 23);
    scale: 1.1;
}

.skills-description {
    display: flex;
    align-items: center;
    width: 50%;
}

.description {
    font-size: 20px;
    animation: appear .8s ease-in-out;
}

.description span {
    color: rgb(23, 219, 23);
    margin-bottom: 1rem;
}

@keyframes appear {
    from {
        opacity: 0;
        transform: translateY(20%);
    } to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (max-width: 850px) {

    .home-header h2 {
        font-size: 50px;
        line-height: 45px;
    }

    .home-header p {
        font-size: 15px;
    }

    .icons {
        font-size: 20px;
        gap: .5rem;
    }

    .about-image img {
        width: 170px;
        height: 170px;
    }  

    .informations {
        margin-left: 2rem;
    }
    
    .informations ul li {
        font-size: 12px;
    }

    .text-box {
        font-size: 12px;
    }

    .btn {
        padding: .5rem 1rem;
        font-size: .7rem;
    }
}


@media screen and (max-width: 578px) {
    /* Início */

    h3.title {
        font-size: 28px;
    }

    .home-header h2 {
        font-size: 45px;
        line-height: 40px;
    }

    .frontend {
        gap: .5rem;
    }

    .home-header p {
        font-size: 15px;
    }

    .icons {
        font-size: 18px;
        gap: .5rem;
    }

    .btn {
        padding: .5rem 1.3rem;
    }

    /* Sobre mim */

    #about {
        overflow-x: hidden;
    }

    .about-me {
        flex-direction: column;
        gap: 3rem;
    }

    .timeline {
        flex-direction: column;
    }

    .timeline::after {
        width: 5px;
        height: 100%;
        animation: none;
        position: absolute;
        left: 10px;
    }   
    
    .event {
        width: 80%;
        padding-left: 70px;
        padding-top: 0;
        padding-bottom: 30px;
    }

    /* Portfólio */

    .projects-container {
        gap: 90px;
    }

    /* Skills */

    .skills-container {
        flex-direction: column;
        gap: 3.5rem;
    }

    .skill-icons {
        flex-direction: row;
    }

    .skill-box {
        margin: 0;
        width: 50px;
        height: 50px;
        font-size: 25px;
    }

    .skills-description {
        width: 100%;
    }

    .description {
        font-size: 17px;
    }

    .description h3 {
        text-align: center;
    }

    .description p {
        text-align: justify;
    }
}